<h1>New Account Registration</h1>
<p>Brand new to Argovis? Get an API key here to start issuing requests for data.</p>
<form action="/register_key" method="post" enctype="multipart/form-data">
	<div>
		<label for="first">First Name:</label>
		<input type='text' id='first' name='first' required="required">
	</div>
	<div>
		<label for="last">Last Name:</label>
		<input type='text' id='last' name='last' required="required">
	</div>
	<div>
		<label for="last">Affiliation:</label>
		<input type='text' id='affiliation' name='affiliation'>
	</div>
	<div>
		<label for="email">Enter your email:</label>
		<input type='email' id='email' name='email' required="required">
	</div>
	<input type='submit'>
</form>

<h1>Forgot your API Token?</h1>
<p>Enter your email and submit, and if we have an API token for that address, we'll send it to you.</p>
<form action="/recover_key" method="post" enctype="multipart/form-data">
	<div>
		<label for="recover-email">Enter your email:</label>
		<input type='email' id='recover-email' name='recover-email' required="required">
	</div>
	<input type='submit'>
</form>

<h1>Need to rotate your API Token?</h1>
<p>If you think your API token has been exposed to a third party, provide it and your email and we'll send you a fresh token.</p>
<form action="/rotate_key" method="post" enctype="multipart/form-data">
	<div>
		<label for="rotate-email">Enter your email:</label>
		<input type='email' id='rotate-email' name='rotate-email' required="required">
	</div>
	<div>
		<label for="rotate-key">Enter your current API key:</label>
		<input type='text' id='rotate-key' name='rotate-key' required="required">
	</div>
	<input type='submit'>
</form>

<h1>Need to deactivate your API Token?</h1>
<p>If you're no longer using Argovis, enter your email and API token, and we'll deactivate it.</p>
<form action="/delete_key" method="post" enctype="multipart/form-data">
	<div>
		<label for="delete-email">Enter your email:</label>
		<input type='email' id='delete-email' name='delete-email' required="required">
	</div>
	<div>
		<label for="delete-key">Enter your current API key:</label>
		<input type='text' id='delete-key' name='delete-key' required="required">
	</div>
	<input type='submit'>
</form>